html {
    /*background-color: #4A96AD;*/
    background-color: #343a40;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #fff;*/
}

#App {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #4A96AD;*/
    background-color: #343a40;
}

a:hover {
    cursor: pointer;
}

header {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: auto;
    height: auto;
    padding: 33px 0 25px 15px;
    background-color: white;
}

.header-title {
    cursor: pointer;
}

#header-img {
    cursor: pointer;
}

header h1 {
    font-weight: 600;
    letter-spacing: 0.3px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

header hr {
    margin-top: 5px;
}

.hrFormat {
    /*border-color: #343a40;*/
    /* margin-bottom: 5px; */
}

.letterSpacing {
    letter-spacing: '0.3px';
    margin-top: 0px;
}

.edit-icon-shadow {
    background-color: #FFFFFF;
    border-radius: 50%;
}

.icon-shadow-container {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius:50%;
    box-shadow: 1px 1px 1px 2px lightblue;
}

#editIcon {
    color: white;
}

.edit-footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

#closeEditBtn {
    /*float: right;*/
    margin-left: 20%;
}

#closeEditBtn:hover {
    cursor: pointer;
}

#delIcon {
    color: red;
}

#mainList {
    /*margin-right: 40px;*/
    padding-left: 0px !important;
    text-align: center;
    list-style: none;

}

#mainListBtnContainer {
    flex-direction: row;
    display: flex;
    vertical-align: middle;
    align-items: baseline;
}

#editModalBody {
    padding: 0 !important;
}

#editNameContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    height: 50px;
}

#editNameLabel {
    margin-right: 5px;
}

#modalFormat {
    text-align: center;
}

.modal-header {
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.modal-footer {
    border-top: 0px !important;
    padding-top: 0px !important;
}

.modal-dialog {
    position: absolute;
    /*top: 100px;*/
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.login-form {
    display: flex;
    margin-bottom: 10px;
}

.login-email-container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: center;
}

.login-input-email {
    margin-bottom: 10px;
}

.login-input-label {
    margin-bottom: 0px !important;
    margin-right: 10px !important;
}

.login-input-password-label {
    margin-top: 16px;
}

.label {
    margin-bottom: 0px !important;
    margin-right: 10px !important;
}

.login-input-container {
    width: 100%;
}

.login-input {
    width: 100%;
}

.login-btn-container {
    display: flex;
    flex-direction: column;
}

.login-btn {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

button.login-btn:hover {
    background-color: #54a6df;
    color: #FFFFFF;
}

.google-login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-input-email {
    margin-bottom: 10px;
}

.signup-input-label {
    margin-bottom: 0px !important;
    margin-right: 10px !important;
}

.signup-input-password-label {
    margin-top: 16px;
}

#closeMainMenuBtn {
    float: right;
}

.main-menu-logout-btn {
    width: 100%;
    margin-left: 0px !important;
}

.menu-icon:hover {
    cursor: pointer;
    color: #5cabc5;
}

.mainItems {
    border-radius: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 6px;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
    /*margin-bottom: 20px;*/
    /*background-color: rgb(237, 237, 237);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);*/
}

Confetti {
    position: fixed;
}

.itemsDiv {
    display: none;
    border-style: inset;
    margin-left: 20px;
    padding-top: 5px;
}

#addItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backForeEditStyle {
    margin-bottom: 15px;
}

#mainListSection {
    margin-right: 20px;
    margin-left: 20px;
}

#createListDiv {
    /*background-color: #4A96AD;*/
    /*padding-top: 1px;*/
    padding-bottom: 10px;
    color: #343a40;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 15px;
    /*width: 50%;*/
    margin-left: auto;
    margin-right: auto;
}

#addItemDiv,
#editItemDiv {
    /*background-color: #4A96AD;*/
    padding-top: 1px;
    padding-bottom: 10px;
    color: #343a40;
    /*margin-left: 40px;*/
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    /*margin-left: auto;*/
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    /*width: 80%;*/
}

.addItemDiv {
    /*background-color: #4A96AD;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #343a40;
    /*margin-left: 40px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin-top: 20px;*/
    /*width: 50%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    width: 80%;
}

header {
    padding-top: 9px;
    padding-bottom: 9px;
}

.addItemText {
    margin-right: 10px;
}

#closeListBtn {
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-left: 30%;
    height: 4rem;
    margin: 10px;
}

.black-text {
    color: #000000!important;
}

#listModalTitle {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editIndexDiv {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.edit-save-btn {
    margin-left: 0px!important;
    /*position: absolute;
    bottom: 0;
    margin: auto;*/
}

.indexOrderHeaderDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#indexOrderHeader {
    font-size: 25px;
}

#indexAdjustContainer {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    padding-left: 10px;
    margin-top: -9px !important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    align-content: baseline;
    margin: auto;
}

#listBtns {
    text-align: left;
    background-color: #103D5D;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    padding: 15px;
    width: 100%;
    font-size: 25px;
    flex-direction: row;
    /* Original box-shadow */
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 6px;
    /* Remove this box-shadow to go back to original */
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px;
    text-decoration: none;
}

#listBtns:hover {
    cursor: pointer;
}

#mainListBtn {
    color: white;
    text-decoration: none;
}

#backForeEditContainer {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#subListBackForeEditContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

#backForeEditBtn {

}

.colorPickerBtns {
    background-color: #4A96AD;
    color: white;
    border-radius: 7px;
    margin: 10px;
}

#foreBtn {
    margin-left: 10px;

}

.colorPicker {
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn {
    margin-left: 10px;
    background-color: '#4A96AD'
}

.addBtn {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
    float: left;
    /* height: 70px; */
    /* margin: 0 30px 30px 0; */
    position: relative;
    width: 60px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.addBtn:hover {
    cursor: pointer;
}

#editDelBtn {
    /*margin-top: 5px;*/
    /*margin-left: 5px;*/
    margin-right: 20%;
}

.close-delete-btn {
    float: right;
}

.delete-btn {
    margin-top: 20px;
}

#editDelBtn:hover {
    cursor: pointer;
}

.editMainListBtnHome {
    float: right;
}

#editMainListBtn {
    margin-right: 30%;
    height: 4rem;
    margin: 10px;
}

#editMainListBtn:hover {
    cursor: pointer;
}

.margin-adjust {
    margin-top: 0px!important;
    margin-bottom: 14px!important;
}

#submitText {
    font-size: 25px;
    color: #000;
    padding: 3px;
    /*padding: 8px 12px;*/
    border: 0;
    display: block;
    margin-right: 10px;
    /*text-align: center;*/
    border-radius: 6px;
    width: 70%;
}

.inset-border {
    border: inset!important;
}

#submitBtn {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
    margin-top: 8px;
    width: 100%;
}

#submitOrderIndexBtn {
    /*margin-left: 10px;*/
    margin-top: 10px;
    color: dodgerblue;
}

#orderIndex {
    width: 60px;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    font-size: 20px;
}

#addOrderIndexDiv {
    padding-top: 1px;
    padding-bottom: 10px;
    color: #343a40;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    width: 50%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    border-style: solid;
    border-color: gainsboro;
}

.indexInputFormat {
    width: 40% !important;
    text-align: center;
}

#editSavePrompt {
    height: 200px !important;
    height: 60px;
    font-size: 25px;
    text-align: center;
    color: green;
}

#editSaveText {
    margin-top: 30px;
    margin-bottom: 30px;
}

#items {
    border: 2px solid #5cabc5;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    /* margin-right: 30px; */
    /* background-color: rgb(237, 237, 237); */
    /* background-color: darkslategrey; */
    /* color: white; */
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
    /* -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px; */
    /* box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px; */
}

#items:hover {
    background-color: #29516f;
    color: white;
}

.item {
    display: flex;
    flex-direction: 'row';

}

#itemsList {
    font-size: 20px;
    padding-left: 0px !important;
    list-style-type: none;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
}

#subList {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    padding-left: 0px !important;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 45px;
}

text {
    padding-top: 20px;
}

.ribbon {
    margin-left: 0px;
    margin-right: 0px;
    width: 20em;
    /*font-size: 6rem;*/
}

.jumbotron {
    padding-bottom: 5px!important;
    padding-top: 0px;
}

.jumbotron-padding-adjust {
    padding-bottom: 30px!important;
    padding-top: 30px!important;
}

@media (max-width: 768px) {
    #addItemDiv {
        width: 80%
    }
    #closeListBtn {
        margin-left: auto;
    }
    #editMainListBtn {
        margin-right: auto;
    }
    .ribbon {
        font-size: 6rem;
    }
    .margin-adjust {
        margin-bottom: 25px!important;
    }
}

@media (min-width: 769px) {
    .edit-save-btn {
        max-width: 30%
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.FadeAnimation {
    animation: FadeAnimation 1s ease-in .2s forwards;
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-width: 320px) {
    #indexAdjustContainer {
        padding-left: 10px;
        margin-top: -25px !important;
        margin-bottom: -20px !important;
        margin-right: 90px;
        margin: auto !important;
    }

    .indexInputFormat {
        width: 60% !important;

    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
